.DS_Store
.idea

node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
package-lock.json

reports
tmp
dist

qcert.key
.env
.sshkey.pem
rds-combined-ca-bundle.pem
qcert.key
.env
rds-combined-ca-bundle.pem